@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.App {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.App__background {
  background-color: white;
  height: 100vh;
  width: 101.2%;
  margin: -8px;
}

.App__back {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, aqua), to(white));
  background-image: linear-gradient(to bottom, aqua 50%, white);
  height: 100vh;
  width: 18.4%;
  margin: -8px -8px -8px 21px;
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App__back__space {
  padding: 6rem 0rem;
}

.App__back__space__buttons {
  display: block;
  background-color: aqua;
  color: #fff;
  border: 0rem;
  text-align: center;
  margin: 4rem;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-box-shadow: inset 0px 0 0 0 #1818185a;
  -ms-box-shadow: inset 0px 0 0 0 #1818185a;
  -o-box-shadow: inset 0px 0 0 0 #1818185a;
  box-shadow: inset 0px 0 0 0 #1818185a;
  overflow: hidden;
}

@media (max-width: 945px) {
  .App__back__space__buttons {
    margin: 4rem 0rem;
  }
}

@media (max-width: 600px) {
  .App__back__space__buttons {
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .App__back__space__buttons {
    font-size: 0.8rem;
  }
}

.App__back__space__buttons:hover {
  color: white;
  -webkit-box-shadow: inset 500px 0 0 0 #1818185a;
  -ms-box-shadow: inset 500px 0 0 0 #1818185a;
  -o-box-shadow: inset 500px 0 0 0 #1818185a;
  box-shadow: inset 500px 0 0 0 #1818185a;
}

.App__about {
  background-color: white;
  height: 100vh;
  width: 100vw;
  margin: 8px -8px 0px -8px;
}

.container {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 200px;
  position: absolute;
  width: 99%;
  bottom: 45%;
  display: block;
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
}

@media (max-width: 410px) {
  .container {
    font-size: 27px;
  }
}

.flip {
  height: 50px;
  overflow: hidden;
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
}

.flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

.flip div:first-child {
  -webkit-animation: show 5s linear infinite;
          animation: show 5s linear infinite;
}

.flip div div {
  background: aqua;
}

.flip div:first-child div {
  background: #42c58a;
}

.flip div:last-child div {
  background: #DC143C;
}

@-webkit-keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.nav {
  height: 8vh;
  width: 100vw;
  background-color: aqua;
  position: fixed;
  margin: -8px 0px 0px -8px;
}

.box {
  margin: 10px 0px 12px 132px;
}

.switch1 {
  background-color: aqua;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border: 0rem;
  margin: 0px 26px 0px 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: inset 0px 0 0 0 #1818185a;
  -ms-box-shadow: inset 0px 0 0 0 #1818185a;
  -o-box-shadow: inset 0px 0 0 0 #1818185a;
  box-shadow: inset 0px 0 0 0 #1818185a;
}

.switch1:hover {
  color: white;
  -webkit-box-shadow: inset 500px 0 0 0 #1818185a;
  -ms-box-shadow: inset 500px 0 0 0 #1818185a;
  -o-box-shadow: inset 500px 0 0 0 #1818185a;
  box-shadow: inset 500px 0 0 0 #1818185a;
}

.switch2 {
  background-color: aqua;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border: 0rem;
  margin: 0px 26px 0px 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: inset 0px 0 0 0 #1818185a;
  -ms-box-shadow: inset 0px 0 0 0 #1818185a;
  -o-box-shadow: inset 0px 0 0 0 #1818185a;
  box-shadow: inset 0px 0 0 0 #1818185a;
}

.switch2:hover {
  color: white;
  -webkit-box-shadow: inset 500px 0 0 0 #1818185a;
  -ms-box-shadow: inset 500px 0 0 0 #1818185a;
  -o-box-shadow: inset 500px 0 0 0 #1818185a;
  box-shadow: inset 500px 0 0 0 #1818185a;
}

.switch3 {
  background-color: aqua;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border: 0rem;
  margin: 0px 26px 0px 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: inset 0px 0 0 0 #1818185a;
  -ms-box-shadow: inset 0px 0 0 0 #1818185a;
  -o-box-shadow: inset 0px 0 0 0 #1818185a;
  box-shadow: inset 0px 0 0 0 #1818185a;
}

.switch3:hover {
  color: white;
  -webkit-box-shadow: inset 500px 0 0 0 #1818185a;
  -ms-box-shadow: inset 500px 0 0 0 #1818185a;
  -o-box-shadow: inset 500px 0 0 0 #1818185a;
  box-shadow: inset 500px 0 0 0 #1818185a;
}

.switch4 {
  background-color: aqua;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border: 0rem;
  margin: 0px 26px 0px 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: inset 0px 0 0 0 #1818185a;
  -ms-box-shadow: inset 0px 0 0 0 #1818185a;
  -o-box-shadow: inset 0px 0 0 0 #1818185a;
  box-shadow: inset 0px 0 0 0 #1818185a;
}

.switch4:hover {
  color: white;
  -webkit-box-shadow: inset 500px 0 0 0 #1818185a;
  -ms-box-shadow: inset 500px 0 0 0 #1818185a;
  -o-box-shadow: inset 500px 0 0 0 #1818185a;
  box-shadow: inset 500px 0 0 0 #1818185a;
}

.line {
  height: 1.5vh;
  width: 100vw;
  background-color: #363d67;
  position: absolute;
  bottom: 0;
  margin: -8px 0px 0px -8px;
}
/*# sourceMappingURL=App.css.map */