@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@mixin transition($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }
@mixin boxShadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
  }
.App{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    &__background{
        background-color:white;
        height: 100vh;
        width: 81.8%;
        margin: -8px;
    }
    &__back{
        background-color: aqua;
        height: 100vh;
        width: 18.4%;
        margin: -8px -8px -8px 21px;
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        &__space{
            padding: 6rem 0rem;
            &__buttons{
                display: block;
                background-color: aqua;
                color: #fff;
                border: 0rem;
                text-align: center;
                margin:4rem;
                text-decoration: none;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.5rem;
                @include transition(.25s ease-in-out);
                @include boxShadow(inset 0px 0 0 0 #1818185a);
                overflow:hidden;
                @media (max-width: 945px) {margin: 4rem 0rem;}
                @media (max-width: 600px) { font-size: 1rem}
                @media (max-width: 425px) { font-size: 0.8rem}
                &:hover {
                    color:white;
                    @include boxShadow(inset 500px 0 0 0 #1818185a);
                  }
            }
        }
    }
    &__about{
        background-color: yellow;
        height: 100vh;
        width: 100vw;
        margin: 8px -8px 0px -8px;
    }
}
  .container {
    color:#999;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    padding-top:200px;  
    position: absolute;;
    width:80%;
    bottom:45%;
    display:block;
    margin:0px;
    font-family: sans-serif;
    text-align:center;
    @media (max-width: 410px) { font-size: 27px; }
  }
  .flip {
    height:50px;
    overflow:hidden;
    margin:0px;
    font-family: sans-serif;
    text-align:center;
  }
  .flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  .flip div:first-child {
    animation: show 5s linear infinite;
  }
  .flip div div {
      background:aqua;
  }
  .flip div:first-child div {
     background:#42c58a;
  }
  .flip div:last-child div {
    background:#DC143C;
  }
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }