@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.App {
  height: 100vh;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.App__background {
  background-color: white;
  height: 100vh;
  width: 101.2%;
  margin: -8px;
}

.App__about {
  background-color: white;
  height: auto;
  width: 100vw;
  margin: 8px -8px 0px -8px;
}

.App__about__square {
  background-color: #f9f9f9;
  height: 92.1vh;
  width: 100%;
  margin: 3.8% 0% 0% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 791px) {
  .App__about__square {
    height: 102.1vh;
  }
}

@media (max-width: 710px) {
  .App__about__square {
    height: 108.1vh;
  }
}

@media (max-width: 547px) {
  .App__about__square {
    height: 148.1vh;
  }
}

.App__about__square__holder {
  margin: 0% 0% 0% 1.5%;
  height: auto;
}

.App__about__square__holder__face {
  height: 42.6vh;
}

.App__about__square__holder__description {
  height: auto;
  width: 26vw;
  font-size: 1em;
  margin: 5% 0% -4% 0%;
  font-family: 'Open Sans', sans-serif;
  color: #828282;
}

@media (max-width: 1220px) {
  .App__about__square__holder__description {
    font-size: 0.8em;
  }
}

@media (max-width: 750px) {
  .App__about__square__holder__description {
    margin: 5% 0% -4% 18%;
  }
}

@media (max-width: 499px) {
  .App__about__square__holder__description {
    font-size: 1em;
    width: 50vw;
    margin: 5% 0% -4% 0%;
  }
}

.App__about__square__holder__award {
  font-family: 'Open Sans', sans-serif;
  color: #828282;
  font-weight: 400;
  opacity: 1;
  font-size: 1em;
}

@media (max-width: 1220px) {
  .App__about__square__holder__award {
    font-size: 0.8em;
  }
}

@media (max-width: 791px) {
  .App__about__square__holder__award {
    opacity: 0;
  }
}

.App__about__square__icons {
  background-color: #f9f9f9;
  height: auto;
  width: 80%;
}

.App__about__square__icons__title {
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  font-size: 3em;
  margin: 2% 0% 0% 0%;
}

.App__about__square__icons__block {
  background-color: #f9f9f9;
  height: 27vh;
  width: 100%;
  margin: 5% 0% 0% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 960px) {
  .App__about__square__icons__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 791px) {
  .App__about__square__icons__block {
    height: 34vh;
  }
}

.App__about__square__icons__block__html {
  width: 8%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block__html {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block__html {
    width: 60px;
  }
}

.App__about__square__icons__block__html__logo1 {
  height: 14vh;
  width: 100%;
}

.App__about__square__icons__block__html__title1 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block__css {
  width: 8%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block__css {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block__css {
    width: 60px;
  }
}

.App__about__square__icons__block__css__logo2 {
  height: 14vh;
  width: 100%;
}

.App__about__square__icons__block__css__title2 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block__sass {
  width: 12%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block__sass {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block__sass {
    width: 60px;
  }
}

.App__about__square__icons__block__sass__logo3 {
  height: 15vh;
  width: 100%;
}

.App__about__square__icons__block__sass__title3 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block__js {
  width: 9%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block__js {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block__js {
    width: 60px;
  }
}

.App__about__square__icons__block__js__logo4 {
  height: 14vh;
  width: 100%;
}

.App__about__square__icons__block__js__title4 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block__react {
  width: 9%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block__react {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block__react {
    width: 60px;
  }
}

.App__about__square__icons__block__react__logo5 {
  height: 14vh;
  width: 100%;
}

.App__about__square__icons__block__react__title5 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block__node {
  width: 12%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block__node {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block__node {
    width: 60px;
  }
}

.App__about__square__icons__block__node__logo6 {
  height: 14vh;
  width: 100%;
}

.App__about__square__icons__block__node__title6 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block2 {
  background-color: #f9f9f9;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0% 0% 0%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 960px) {
  .App__about__square__icons__block2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 710px) {
  .App__about__square__icons__block2 {
    margin: 9% 0% 0% 0%;
  }
}

@media (max-width: 547px) {
  .App__about__square__icons__block2 {
    margin: 76% 0% 0% 0%;
  }
}

@media (max-width: 499px) {
  .App__about__square__icons__block2 {
    margin: 87% 0% 0% 0%;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block2 {
    margin: 110% 0% 0% 0%;
  }
}

.App__about__square__icons__block2__wpack {
  width: 10%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block2__wpack {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block2__wpack {
    width: 60px;
  }
}

.App__about__square__icons__block2__wpack__logo7 {
  height: 16vh;
  width: 100%;
}

.App__about__square__icons__block2__wpack__title7 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block2__npm {
  width: 10%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block2__npm {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block2__npm {
    width: 60px;
  }
}

.App__about__square__icons__block2__npm__logo8 {
  height: 16vh;
  width: 100%;
}

.App__about__square__icons__block2__npm__title8 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block2__jira {
  width: 11%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block2__jira {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block2__jira {
    width: 60px;
  }
}

.App__about__square__icons__block2__jira__logo9 {
  height: 16vh;
  width: 100%;
}

.App__about__square__icons__block2__jira__title9 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block2__git {
  width: 13%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block2__git {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block2__git {
    width: 60px;
  }
}

.App__about__square__icons__block2__git__logo10 {
  height: 16vh;
  width: 100%;
}

.App__about__square__icons__block2__git__title10 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block2__vs {
  width: 9%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block2__vs {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block2__vs {
    width: 60px;
  }
}

.App__about__square__icons__block2__vs__logo11 {
  height: 14vh;
  width: 100%;
}

.App__about__square__icons__block2__vs__title11 {
  height: 4vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.App__about__square__icons__block2__post {
  width: 8%;
}

@media (max-width: 960px) {
  .App__about__square__icons__block2__post {
    width: 80px;
  }
}

@media (max-width: 414px) {
  .App__about__square__icons__block2__post {
    width: 60px;
  }
}

.App__about__square__icons__block2__post__logo12 {
  height: 16vh;
  width: 100%;
}

.App__about__square__icons__block2__post__title12 {
  height: 14vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1em;
}

.App__spacer {
  background-color: #f9f9f9;
  height: 100vh;
  width: 100vw;
  margin: 0px -8px 0px -8px;
}

.App__projects {
  background-color: white;
  height: 92.1vh;
  width: 100%;
  margin: 3.8% 0% 0% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.App__projects__header {
  font-family: 'Open Sans', sans-serif;
  color: #505050;
  font-size: 3em;
  background-color: white;
  height: 10vh;
  width: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 5px solid #505050;
  margin: 0em 13.2em;
}

.App__projects__case {
  height: 81vh;
  width: 98.9vw;
  background: lightcyan;
}

.App__nav {
  height: 8vh;
  width: 100vw;
  background-color: aqua;
  position: fixed;
  margin: -8px 0px 0px -8px;
}

.App__nav__box {
  margin: 10px 0px 12px 132px;
}

@media (max-width: 561px) {
  .App__nav__box {
    margin: 10px 0px 12px 0px;
  }
}

.App__nav__box__switch {
  background-color: aqua;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border: 0rem;
  margin: 0px 26px 0px 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: inset 0px 0 0 0 #1818185a;
  -ms-box-shadow: inset 0px 0 0 0 #1818185a;
  -o-box-shadow: inset 0px 0 0 0 #1818185a;
  box-shadow: inset 0px 0 0 0 #1818185a;
}

@media (max-width: 429px) {
  .App__nav__box__switch {
    font-size: 0.9rem;
  }
}

.App__nav__box__switch:hover {
  color: white;
  -webkit-box-shadow: inset 500px 0 0 0 #1818185a;
  -ms-box-shadow: inset 500px 0 0 0 #1818185a;
  -o-box-shadow: inset 500px 0 0 0 #1818185a;
  box-shadow: inset 500px 0 0 0 #1818185a;
}

.App__nav__line {
  height: 1.5vh;
  width: 100vw;
  background-color: #363d67;
  position: absolute;
  bottom: 0;
  margin: -8px 0px 0px -8px;
}

.container {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 200px;
  position: absolute;
  width: 99%;
  bottom: 45%;
  display: block;
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
}

@media (max-width: 410px) {
  .container {
    font-size: 27px;
  }
}

.flip {
  height: 50px;
  overflow: hidden;
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
}

.flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

.flip div:first-child {
  -webkit-animation: show 5s linear infinite;
          animation: show 5s linear infinite;
}

.flip div div {
  background: aqua;
}

.flip div:first-child div {
  background: #42c58a;
}

.flip div:last-child div {
  background: #DC143C;
}

@-webkit-keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
/*# sourceMappingURL=App.css.map */