@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@mixin transition($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }
@mixin boxShadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
  }
.App{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    &__background{
        background-color:white;
        height: 100vh;
        width: 101.2%;
        margin: -8px;
    }
    &__about{
        background-color: white;
        height: 100vh;
        width: 100vw;
        margin: 8px -8px 0px -8px;
        &__square{
            background-color:rgb(249, 249, 249);
            height: 92.1vh;;
            width: 100%;
            margin: 3.8% 0% 0% 0%;
            display: flex;
            &__holder{
                margin: 0% 0% 0% 1.5%;
                &__face{
                    height:42.6vh;
                }
                &__description{
                    height: 42vh;
                    width: 26vw;
                    font-size: 1em;
                    margin: 5% 0% -4% 0%;
                    font-family: 'Open Sans', sans-serif;
                    color: rgb(130, 130, 130);
                }
                &__award{
                    font-family: 'Open Sans', sans-serif;
                    color: rgb(130, 130, 130);
                }
            }
          &__icons{
            background-color: rgb(249, 249, 249);
            height: 92vh;
            width: 80%;
            &__title{
                font-family: 'Open Sans', sans-serif;
                color: rgb(80, 80, 80);
                font-size: 3em;
                margin: 2% 0% 0% 0%;
            }
          }
        }
    }
    &__nav{
        height:8vh;
        width:100vw;
        background-color: aqua;
        position: fixed;
        margin:-8px 0px 0px -8px;
        &__box{
            margin: 10px 0px 12px 132px;
            @media (max-width:561px) {margin: 10px 0px 12px 0px;}
            &__switch{
            background-color: aqua;
            color: white;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.3rem;
            @media (max-width:429px) {font-size: 0.9rem}
            border: 0rem;
            margin: 0px 26px 0px 0px;
            @include transition(.50s ease-in-out);
            @include boxShadow(inset 0px 0 0 0 #1818185a);
            &:hover {
                color:white;
                @include boxShadow(inset 500px 0 0 0 #1818185a);
                }
            }
        }
        &__line{
            height:1.5vh;
            width:100vw;
            background-color: rgb(54, 61, 103);
            position: absolute;
            bottom:0;
            margin:-8px 0px 0px -8px;
        }
    }
}
  .container {
    color:#999;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    padding-top:200px;  
    position: absolute;;
    width:99%;
    bottom:45%;
    display:block;
    margin:0px;
    font-family: sans-serif;
    text-align:center;
    @media (max-width: 410px) { font-size: 27px; }
  }
  .flip {
    height:50px;
    overflow:hidden;
    margin:0px;
    font-family: sans-serif;
    text-align:center;
  }
  .flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  .flip div:first-child {
    animation: show 5s linear infinite;
  }
  .flip div div {
      background:aqua;
  }
  .flip div:first-child div {
     background:#42c58a;
  }
  .flip div:last-child div {
    background:#DC143C;
  }
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }