@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@mixin transition($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }
@mixin boxShadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
  }
.back{
    background-color: aqua;
    height: 102.5vh;
    width: 20vw;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    &__space{
        padding: 6rem 0rem;
        &__buttons{
            display: block;
            color: #fff;
            text-align: center;
            padding: 15px;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.5rem;
            @include transition(.25s ease-in-out);
            @include boxShadow(inset 0px 0 0 0 #1818185a);
            overflow:hidden;
            @media (max-width: 560px) { font-size: 1.2rem; }
            @media (max-width: 460px) { font-size: 0.7rem; }
            &:hover {
                color:white;
                @include boxShadow(inset 500px 0 0 0 #1818185a);
              }
        }
    }
}



