.sContainer{
    background-color: darkgrey;
    height: 103.5vh;
    width: 78vw;
    margin: -2rem;
    &__home1{
        color: white;
        display: flex;
        align-items: center;
        height: 100vh;
        margin: 0rem 10rem;
        font-size: 4rem;
    }
    &__home2{
        color: #f48950;
        display: flex;
        align-items: center;
        height: 0vh;
        margin: -21.5rem 0rem -7rem 22rem;
        font-size: 4rem;
    }
    &__home3{
        color: white;
        display: flex;
        align-items: center;
        height: 56vh;
        margin: 0rem 10rem;
        font-size: 4rem;
    }
}

.home-font{
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0rem 10rem;
    font-size: 4rem;
}
