.sContainer{
    background-color: rgb(61, 216, 244);
    height: 103.5vh;
    width: 78vw;
    margin: -2rem;
    position: absolute;
    opacity: 1;

}
.home1{
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0rem 10rem;
    font-size: 4rem;
    font-family: sans-serif;          
        }
.home2{
    color: #b30649;
    display: flex;
    align-items: center;
    height: 0vh;
    margin: -21.5rem 0rem -7rem 22rem;
    font-size: 4rem;
    font-family: sans-serif;         
}
.home3{
    color: white;
    display: flex;
    align-items: center;
    height: 64vh;
    margin: 0rem 10rem;
    font-size: 4rem;
    font-family: sans-serif;        
}

.sContainer-view{
    background-color: rgb(61, 216, 244);
    height: 103.5vh;
    width: 78vw;
    margin: -2rem;
    position: absolute;
    opacity: 0;
  animation: forwards ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}